* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ============= MAIN PAGE CSS ============= */

header {
    padding: 40px 50px;
}
header .logo {
    float: left;
}
header .menu {
    float: right
}
header .menu ul li {
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child {
    margin-right: 0;
}
header .menu ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header .menu ul li a:hover {
    color: #ff0055;
}
/*=== HEADER BUTTON ===*/

header .menu ul li.btn a {
    background-color: #ff0055;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header .menu ul li.btn a:hover {
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*=== CONTAINER ===*/

.home .container {
    max-width: 1266px;
    margin: 0 auto;
}

/*=== MASATO IMAGE ===*/

.home .person {
    float: right;
    margin: 70px 180px 0;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}
.home .person img {
    filter: brightness(0.5)
}
.home .person-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #525252;
    opacity: 0.7;
    z-index: 99;
}

.home-text {
    color: #fff;
    margin-top: 220px;
    position: absolute;
}

.home-text h6 {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
    margin-bottom: 16px;
}
.home-text h1 {
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 50px;
}

.home-text p{
    display: flex;
    flex-direction: column;
    display: inline-block;
    max-width: 500px;
    font-size: 18px;
    margin-top: 200px;
    margin-left: 50px;
}
.home-text p ul li {
    list-style-type: none;
}

.home-text .name span {
    margin-right: 130px;
    display: inline-block;
}

.home-text .name span:last-child {
    margin-right: 0;
}

/* DEFAULT STATE HIDE */
.home .person img,
.student span,
.name span,
.logo,
.menu li,
.small-intro span {
    opacity: 0;
}

/* ============= PROJECT CSS ============= */

